asgiref
dj-database-url
Django
django-environ
gunicorn
packaging
python-decouple
regex
six
sqlparse
typing_extensions
tzdata
psycopg2-binary
django-cors-headers
django-crispy-forms
joblib==1.3.2
numpy==1.26.0
pandas
scikit-learn==1.2.2
